<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>test15-一维数组的遍历</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link href="" rel="stylesheet">
	</head>
	
	<body>
		<volist name='arr' id='vol'>
		{$vol} - 
		</volist><br/>
		<foreach name='arr' item='vol'>
		{$vol} - 
		</foreach>
		<hr/>
		<volist name='arr2' id='vo'>
		{$vo[0]} - {$vo[1]} - {$vo[2]} <br/>
		</volist>
	</body>
</html>